<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbars">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quiztory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/sections">Sections</a>
          <a class="nav-link" href="/sections/scores">View Scores</a>
        </div>
        <div class="navbar-nav ml-auto">
          <% if(!signedInUser) { %>
            <a href="/register" class="nav-link">Sign Up</a>
            <a href="/login" class="nav-link">Login</a>
          <% } else { %>
            <a href="/logout" class="nav-link">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>