<% layout('layouts/boilerplate') %>

<section class="home">
    <div class="home-content">
        <h1>HELLO FROM TEAM ITALY!</h1>
        <div class="text-note">
            <p>Welcome to <i>QUIZTORY</i></p>
            <p>Let's test your knowledge about the history of Italy!!</p>
        </div>
        <a href="/sections" class="play-btn">PLAY NOW</a>
    </div>
</section>
