<% layout('layouts/boilerplate') %>
<div class="category-section">
    <h1>SELECT ASPECT</h1>
    <div class="category-box">
        <% for(let section of sections) { %>
            <div class="cat">
                <div class="inner-cat">
                    <a href="/sections/<%= section._id %>"><%= section.title %></a>
                </div>
            </div>
        <% } %>
    </div>
</div>



